<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">

  <h2 class="brand-group">
     {{ .Site.Params.dave }}
  </h2>

  {{ if .Site.Params.sidebarlogo }} 
     <a href="{{ .Site.BaseURL}}"><img src={{ .Site.Params.sidebarlogo }} align="center" width="90%"></a>
  {{ end }}
  {{ if .Site.Params.sidebartitle }}
     <a href="{{ .Site.BaseURL}}"><h1 class="brand-title">{{ .Site.Params.sidebartitle }}</h1></a>
  {{ end }}
  
  {{ if .Site.Params.sidebartagline }}
     <a href="{{ .Site.BaseURL}}"><h2 class="brand-tagline">{{ .Site.Params.sidebartagline }}</a>
  {{ end }}

  </div>
</div>
